<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB62Q0QioKCqqjFnLL3d1BWNc4QZjh9yK0</string>
	<key>GCM_SENDER_ID</key>
	<string>599307993306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motorradApp</string>
	<key>PROJECT_ID</key>
	<string>test-app-9bbc0</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-9bbc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599307993306:ios:0a99846e730d3f315e65e3</string>
</dict>
</plist>